<div class="title-bar">
  <h2>About</h2>
</div>

<div class="static-page">
  <%= link_to "Back to Calendar", root_path, class: "back-to-calendar" %>

  <p>
    Track Cal is your source for all (or at least a decent chunk of) track day events in the south western United States. It was primarily created for California based tracks, but with time, will quickly expand to include many other states, tracks, and organizations. Track Cal was created out of a frusteration of having to jump around to the different organizations sites to figure out which days I wanted to attend. Hopefully this will solve that problem for myself as well as for all of you!
    <br><br>
    Please keep in mind that this is just the start of Track Cal, and many updates and additional features are planned. Before that happens I would really like to get all of your feedback on what will make this a truly great resource for all of us riders. So, please, dont hesitate to click the tab on the right hand side of the page, and send over any comments or feedback on how we can improve this site together.
    <br><br>
    Lastly, let me introduce myself. My name is Jordan Taylor Keating. I am still very new to the whole sport bike riding thing (think my first track day was last June), but I am trying hard to advance my skills as a rider every weekend im out at the track. By day I am designer and developer for a consultancy in Venice, CA, and I am also the VP of the Los Angeles Ducati Owners Club. If you'd like to know more, shoot me an email or come find me at the track! Thanks for reading :)
  </p>
</div>

<%= image_tag("me.jpg", alt: "Ducati trackday motorcycle") %>
