<div class="title-bar">
  <h2>Contact</h2>
</div>

<div class="static-page">
  <%= link_to "Back to Calendar", root_path, class: "back-to-calendar" %>

  <p>
    Do you want to see your organization’s track days listed here?<br>
    Are there other tracks you think are missing?<br>
    Would you like to advertise a track day package?<br>
    Do you want to go racing with me!?<br>
    <br>
    If you said yes to any of the above please send me an email at the address below. Also feel free to contact me with any other questions, comments, or feedback on the site!
  </p>

  <a href="mailto:jordan@brakelazy.com?subject=TrackCal">Contact Track Cal</a>
</div>
