@import "compass/css3";
@import "application/base";

header {
  padding: 12px 20px 10px;
  background: $black;
  h3 a {
    margin: 0;
    font-weight: bold;
    &:hover {
      color: #fff;
    }
  }
}
