@import "compass/css3";

$red: #c25345;
$black: #292829;
$light-grey: #f2f0f0;
$grey: #a1a1a1;

p, i, a {
  font-size: 18px;
}

p, h1, h2, h3, h4, i, a, strong {
  font-family: "ff-meta-web-pro",sans-serif;
}

.button {
  background: $red;
  color: #fff;
  &:hover {
    background: $black;
  }
}

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}
