@import "compass/css3";
@import "base";

footer {
  background: $black;
  .footer {
    padding: 50px;
    h2 {
      text-align: center;
      margin: 50px 0;
      color: $light-grey;
      font-weight: bold;
    }
    .social-links {
      display: block;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
