@import "compass/css3";
@import "base";

.large-header {
  @include background-image(image-url("header-bg.png"));
  background-size: cover;
  height: 475px;
  padding: 50px;

  .logo {
    @include background-image(image-url("logo.png"));
    height: 32px;
    margin-bottom: 50px;
    display: inline-block;
    width: 162px;
  }

  .social-links {
    padding-top: 5px;
    padding-left: 50px;
  }

  .navigation {
    color: $light-grey;
    float: right !important;
    display: inline-block;
  }

  .headline {
    @include background-image(image-url("headline.png"));
    background-repeat: no-repeat;
    height: 200px;
  }
}
