@import "compass/css3";
@import "base";

.large-header {
  @include background-image(image-url("header-bg.png"));
  background-size: cover;
  height: 475px;
  padding: 50px;

  .logo {
    @include background-image(image-url("logo.svg"));
    background-repeat: no-repeat;
    height: 32px;
    margin-bottom: 50px;
    display: inline-block;
    width: 167px;
  }

  .social-links {
    padding-top: 5px;
    padding-left: 50px;
  }

  .navigation {
    float: right !important;
    display: inline-block;
    a {
      color: #000;
      &:hover {
        color: $light-grey;
      }
    }
  }

  .headline h1 {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 52px;
    color: #fff;
    font-weight: bold;
    // @include background-image(image-url("headline.png"));
    // background-repeat: no-repeat;
    // height: 200px;
  }
}
