@import "compass/css3";
@import "base";
@import "_responsive";

.title-bar {
  background: #000;
  @include transparent(#000, 0.7);
  height: 84px;
  width: 100%;
  margin-top: -84px;
  padding-left: 50px;
  padding-top: 15px;
  @include media(medium) {
    @include transparent(#000, 1);
    margin-top: 0;
    padding-left: 35px;
  }
  @include media(small) {
    padding-left: 20px;
  }
  h2 {
    font-weight: bold;
    color: $red;
    font-size: 30px;
  }
}

.static-page {
  padding: 50px;
  max-width: 750px;
  @include media(medium) {
    padding: 35px;
  }
  @include media(small) {
    padding: 20px;
    .button {
      width: 100%;
    }
  }
  .back-to-calendar {
    color: $red;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-top: 30px;
    font-size: 20px;
    @include media(small) {
      margin-top: 20px;
    }
  }
}
