@import "compass/css3";
@import "base";
@import "_responsive";

.month {
  padding: 10px 0 10px 20px;
  margin-bottom: 20px;
  background-color: $light-grey;
  @include media(small) {
    margin-bottom: 10px;
  }
  h3 {
    color: $grey;
    font-weight: bold;
  }
}

.day {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  @include media(small) {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  h3 {
    margin: 0;
    color: $black;
    position: relative;
    overflow: hidden;
  }
  h3:after {
    margin-left: 20px;
    display: inline-block;
    content: "";
    height: 2px;
    background: $grey;
    position: absolute;
    width: 100%;
    top: 50%;

  }
}

.trackday {
  display: inline-block;
  height: 140px;
  background-color: $light-grey;
  margin: 0 0 20px 20px;
  border-bottom: 3px solid #8d8d8e;
  @include media(small) {
    margin-bottom: 10px;
  }
  &:hover {
    h3, i {
      text-decoration: underline;
    }
  }

  .track-map {
    display: inline-block;
    height: 138px;
    width: 140px;
    background: $grey;
    @include media(small) {
      display: none;
    }
  }

  @mixin track-map-($name) {
    .#{$name} {
      background: $grey image-url("#{$name}.svg") center center no-repeat;
      background-size: 110px;
    }
  }

  @include track-map-("chuckwalla");
  @include track-map-("spring-mountain");
  @include track-map-("big-willow");
  @include track-map-("streets-of-willow");
  @include track-map-("sonoma");
  @include track-map-("buttonwillow");
  @include track-map-("auto-club");


  .day-info {
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    h3 {
      color: $red;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0.5rem;
      line-height: 1;
    }
    p {
      margin-bottom: 0.5rem;
      line-height: 1.1;
      color: $black;
    }
    i {
      color: $red;
      font-weight: bold;
    }
  }
}

.finish-line {
  margin-top: 50px;
  height: 150px;
  background-image:
    -moz-linear-gradient(45deg, $black 25%, transparent 25%),
    -moz-linear-gradient(-45deg, $black 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, $black 75%),
    -moz-linear-gradient(-45deg, transparent 75%, $black 75%);
  background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $black), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, $black), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, $black)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, $black));

  -moz-background-size:100px 100px;
  background-size:100px 100px;
  -webkit-background-size:100px 101px; /* override value for shitty webkit */

  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
  @include media(medium) {
    margin-top: 20px;
  }
}
