<header>
  <div class="large-header">
    <a href="/"><div class="logo"></div></a>

    <%= render "layouts/sharing_links" %>

    <div class="navigation">
      <ul class="inline-list">
        <li><%= link_to 'About', page_path('about') %></li>
        <li><%= link_to 'Contact', page_path('contact') %></li>
      </ul>
    </div>

    <div class="headline">
      <h1>2014 Southwest U.S. Motorcycle Track Day Calendar</h1>
    </div>
  </div>

  <div class="filter-bar" id="filter-bar">
    <% if @trackdays %>
      <%= render 'layouts/magellan' %>
    <% end %>
  </div>
</header>
