<div class="large-header">
  <div class="logo"></div>

  <%= render "layouts/sharing_links" %>

  <div class="navigation right">
    <ul class="inline-list">
      <li><%= link_to 'About', page_path('about') %></li>
      <li><%= link_to 'Contact', page_path('contact') %></li>
    </ul>
  </div>

  <div class="headline"></div>
</div>
