<%# navigation styled for Zurb Foundation 5 %>
<div class="large-header">
  <div class="logo"></div>
  <div class="navigation right">
    <ul class="inline-list">
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>

  <div class="headline"></div>
</div>
